

.description-span {
    display: block;
    padding: 5px 20%;
    font-size: 12px;
}

.button-middle {
    width: 90%; margin: 10px auto; display: block
}

.k-invalid-msg {
    display: block !important;
    color: red;
    font-size: 12px;
    border: none;
    text-align: left;
}

.km-label-above {
    font-size: 12px;
}

.font12size {
    font-size: 12px !important;
}

.font10size {
    font-size: 10px !important;
}

.k-calendar-container {
    border: none !important;
    background-color: white !important;
}

.k-picker-wrap {
    border: none !important;
}

ul.singlerowLi li{
    display: inline;
}

ul.singlerowLi {
    list-style: none;
}

.km-android input{
 color: #1C35E9;   
}

.noDisplay {
    display: none;
}

.btnDeleteSwipe {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
    border-width: 0;
    margin: 0;
    line-height: 2.5em;
    box-shadow: inset .1em .1em .2em 0 rgba(0,0,0,.2);
}