

<!-- View -->
<div data-role="view" id="defect-view"
    data-model="app.views.defect.viewModel">
    <header data-role="header">
        <div data-role="navbar">
            <a class="nav-button" data-align="left" data-role="backbutton">Back</a>
            <span data-role="view-title" data-bind="text: id"></span>
            <!--<a data-align="right" data-role="button" class="nav-button" href="#/">Index</a> -->
        </div>
    </header>
    <ul data-role="listview" data-style="inset" data-type="group">
            <!-- <li>
            <label>
            Name
            <input name="name" id="name" type="text" data-bind="value: name" required validationMessage="Enter {0}" />
            </label>
            </li>
            <li>
            <label>
            Description <textarea name="description" data-bind="value: description" id="description" style="resize: none"></textarea>
            </label>
            </li> -->
            <li>
                Informartion Building
                <ul>
                    <li>
                        <label class="km-label-above">
                            Building
                            <input type="text" data-bind="value: building_name" required disabled="disabled"/>
                        </label>
                    </li>
                    <li>
                        <label class="km-label-above">
                            Category
                            <input type="text" data-bind="value: category_name" required disabled="disabled" />
                        </label>
                    </li>
                    <li>
                        <label class="km-label-above">
                            Sub-Category
                            <input type="text" data-bind="value: subcategory_name" required disabled="disabled"/>
                        </label>
                    </li>
                    <li>
                        <label class="km-label-above">
                            Zone
                            <input type="text" data-bind="value: zone_name" required disabled="disabled" />
                        </label>
                    </li>
                    <li>
                        <label class="km-label-above">
                            Floor
                            <input type="text" data-bind="value: floor_name" required  disabled="disabled"/>
                        </label>
                    </li>
                    <li><label class="km-label-above">
                        Expected Completed Date
                        </label>
                        <input type="text" id="expectedCompleteDate" data-bind="value: expectedDate"  disabled="disabled"/>
                        
                    </li>
                </ul>
            </li>
            <li>
                Defects Image(s)
                <ul>
                    <ul id="listImageDefect"></ul>
                </ul>
            </li>
            <li>
                Resolved Image(s)
                <ul>
                    <ul id="listImageResolve"></ul>
                </ul>
            </li>
        </ul>
</div>
    