<!-- View -->
<div data-role="view" id="report-view" data-title="New Defect"
     data-model="app.views.newDefect.viewModel"
     data-init="app.views.newDefect.init"
     data-show="app.views.newDefect.show"
     data-transition="overlay:up" data-persist="true">
    <header data-role="header">
        <div data-role="navbar">
            <a class="nav-button" data-align="left" data-role="button" href="#:back" data-bind="events:{click: onClickCancel}" data-transition="overlay:up reverse">Cancel</a>
            <span data-role="view-title" data-bind="text: name"></span>
            <a data-align="right" data-role="button" data-bind="events:{click: onClickAdd}">Add</a>
        </div>
    </header>
    <form id="form-newDefect">
        <ul data-role="listview" data-style="inset" data-type="group">
            <!-- <li>
            <label>
            Name
            <input name="name" id="name" type="text" data-bind="value: name" required validationMessage="Enter {0}" />
            </label>
            </li>
            <li>
            <label>
            Description <textarea name="description" data-bind="value: description" id="description" style="resize: none"></textarea>
            </label>
            </li> -->
            <li>
                Informartion Building
                <ul>
                    <li>
                        <label class="km-label-above km-required">
                            Building
                            <select id="drBuilding" data-bind="value: vlBuilding" required validationMessage="Please select Building">
                            </select>
                        </label>
                    </li>
                    <li>
                        <label class="km-label-above">
                            Category
                            <select id="drCategory" data-bind="value: vlCategory" required validationMessage="Please select Category">
                            </select>
                        </label>
                    </li>
                    <li>
                        <label class="km-label-above">
                            Sub-Category
                            <select id="drSubCategory" data-bind="value: vlSubCategory" required validationMessage="Please select Sub-Category">
                            </select>
                        </label>
                    </li>
                    <li>
                        <label class="km-label-above">
                            Department
                            <select id="drDepartment" data-bind="value: vlDepartment" required validationMessage="Please select Department">
                            </select>
                        </label>
                    </li>
                    <li>
                        <label class="km-label-above">
                            Sub-Department
                            <select id="drSubDepartment" data-bind="value: vlSubDepartment" required validationMessage="Please select Sub-Department">
                            </select>
                        </label>
                    </li>
                    <li>
                        <label class="km-label-above">
                            Zone
                            <select id="drZone" data-bind="value: vlZone" required validationMessage="Please select Zone">
                            </select>
                        </label>
                    </li>
                    <li>
                        <label class="km-label-above">
                            Zone
                            <select id="drSubZone" data-bind="value: vlSubZone" required validationMessage="Please select Sub-Zone">
                            </select>
                        </label>
                    </li>
                    <li>
                        <label class="km-label-above">
                            Floor
                            <select id="drFloor" data-bind="value: vlFloor" required validationMessage="Please select Floor">
                            </select>
                        </label>
                    </li>
                    <li>
                        <label class="km-label-above">
                        Expected Completed Date
                        <input type="text" id="expectedCompleteDate" data-bind="value: vlExpetedCompletedDate" style="width: 100%" />
                            </label>
                    </li>
                </ul>
            </li>
            <li>
                Defects Image(s)
                <ul>
                    <img src="public/images/image_add.png" width="50" height="50" alt="add_image" data-bind="events:{click: addImage}"/>
                    <ul id="listImage"></ul>
                </ul>
            </li>
        </ul>

    </form>

</div>